/* header */
header {
    width: 100%;
    height: 14vh;
    position: fixed;
    background-color: rgb(255, 255, 255);
    top: 0px;
    left: 0px;
    padding: 1%;
    transition: all .5s;
    z-index: 3;
    -webkit-box-shadow: 0px 6px 24px 6px #ece5e5da;
    box-shadow: 0px 6px 15px 6px #c7c7c731;
    /* flex */
    display: flex;
    justify-content: space-evenly;
}
.aline{
    width: 140px;
    height: 45px;
    margin-top: 3%;
}
.logo {
    margin-right: 15%;
}

.logo_picture {
    width: 150px;
}

.menu_desk {
    width: 50%;
    height: 38px;
    margin: 35px;
    /* flex */
    display: flex;
    justify-content: flex-end
}

.menu_desk a {
    font-size: 16px;
    font-weight: 500;
    margin-left: 50px;
    color: black;
    transition: all 0.5s;
    font-family: "Steinbeck";
    font-weight: 500;
}

.menu_desk a:hover {
    color: rgb(173, 170, 170);
}

.box_buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: top;
}

.box_buttons button {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in {
    width: 70px;
    height: 20px;
    background-color: white;
    margin-top: 20px;
    margin-right: 20px;
    font-family: "circular";
    border: none;
}

.log-in a {
    color: black;
    transition: all 0.2s;
}

.log-in a:hover{
    color: var(--morado);
    transition: all 0.2s;
}
/* header */


/* section 1 */

.s1 {
    width: 100%;
    height: 80vh;
    margin-top: 14vh;
    background-color: #ffffff;
    background: linear-gradient(180deg, #ffffff 0%, #acaecc48 100%, #ffffff 100%);
    /* flex */
    display: flex;
    justify-content: space-between;
}
.btn1{
    width: 160px;
    height: 50px;
}
.btn1 p{
    font-size: 16px;
}
.s1_content {
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.s1_content img {
    width: 300px;
    height: 300px;
}

.txt {
    margin-bottom: 70px;
    text-align: center;
}

.txt h1 {
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    font-family: "circular";
    color: #10102c;
    text-shadow: 3px 12px 16px #8c8796;
}

.txt p {
    font-size: 19px;
    font-family: "Rubik";
    margin-bottom: 10px;
}

.btn-s1 {
    position: absolute;
    border: none;
    top: 650px;
    right: 100px;
    /* flex */
    display: flex;
    justify-content: center;
}


.btn-s1 p{
    margin-top: 6.5%;
}

.slider {
    width: 35%;
    height: 80vh;
    overflow: hidden;
    background-color: rgb(15, 15, 15);
    /* filter: brightness(0.1); */
}

.slider ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 30s infinite normal ease-in-out;
    color: white;
    font-family: "circular";
    /* text-align: center; */
}

.slider li {
    width: 100%;
    padding: 3%;
    list-style: none;
}

.slider h5{
    font-size: 43px;
     margin-top: 10% ;
}
.slider p{
    font-size: 17px;
     margin-top: 40% ;
}
@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -200%;
    }

    99% {
        margin-left: -200%;
    }

    0% {
        margin-left: -0;
    }
}

/* section 1 */

/* section 2 */
.s2 {
    width: 100%;
    height: 80vh;
    background-color: white;
    padding: 5% 12%;
    /* flex */
    display: flex;
    justify-content: space-between;
}

.s2_content {
    margin-top: 2%;
    width: 550px;
}

.s2_content h2 {
    font-size: 49px;
    text-shadow: 3px 12px 16px #9796998a;
    font-weight: 300;
    font-family: "circular";
    margin-bottom: 7%;
}

.s2_content p {
    font-size: 17px;
    text-align: center;
    font-family: "Rubik";
    color: rgb(0, 0, 0);
    margin-top: 5%;
    line-height: 1.57;
}
.s2 img{
    width: 715px;
    height: 575px;
    margin-top: 2%;
}

/* section 2 */

/* section 3 */
.s3 {
    width: 100%;
    height: 42vh;
    padding: 4%;
    background-color: var(--background);
    /* flex */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s3_content {
    width: 90%;
    /* flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont1 {
    padding: 3%;
}

.s3 h4 {
    font-size: 60px;
    margin-top: -2%;
    font-family: "circular";
    color: transparent;
    background: #757592;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(248, 247, 247, 0.5);
}

.cont2 {
    padding: 3%;
}

.cont1 p {
    font-size: 20px;
    line-height: 1.3;
    margin-top: 10%;
    font-family: "Rubik";
}

.cont2 p {
    font-size: 20px;
    line-height: 1.3;
    font-family: "Rubik";
    margin-top: 19%;
}

/* section 3 */

/* section 4 */

.s4 {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;

}

.left_side {
    width: 49.7%;
    background-color: #7e85ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left_side h3 {
    font-family: "circular";
    text-shadow: 3px 12px 16px #3f366394;
    font-weight: 400;
    font-size: 45px;
}

.left_side p {
    font-family: "circular";
    text-shadow: 3px 12px 16px #3f366394;
    font-weight: 400;
    font-size: 20px;
    margin-top: 2%;
}

.left_side img {
    width: 550px;
    margin-left: 8%;
    margin-top: 5%;
}

.right_side {
    width: 49.7%;
    background-color: #040616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right_side img {
    width: 530px;
    margin-top: 2%;
}

.right_side h3 {
    font-family: "circular";
    color: white;
    text-shadow: 3px 12px 16px #3f366394;
    font-weight: 400;
    font-size: 45px;
}

.right_side p {
    font-family: "circular";
    text-shadow: 3px 12px 16px #3f366394;
    font-weight: 400;
    color: white;
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 3.5%;
}

/* section 4 */

/* section 5 */
.s5 {
    width: 100%;
    height: 175vh;
    background-color:rgba(204, 185, 250, 0.13);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.info {
    width: 100%;
    height: 36vh;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: "circular";
}

.info h4 {
    text-align: center;
    margin-top: 3.5%;
    font-size: 65px;
    color: #10102c;
    text-shadow: 3px 12px 16px #8c8796cc;
}
.info p{
    font-size: 20px;
}
.info_1 {
    width: 100%;
    box-shadow: 3px 12px 20px #cccccc28;
    height: 71vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content1 {
    width: 60%;
    height: 100%;
    padding: 8% 9%;
}

.content1 h4 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: "circular";
}

.content1 p {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: "Rubik";
    margin-top: 2%;
    font-weight: 200;
}

.caja {
    width: 50%;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px ;
    border-right: 10px solid rgb(214, 196, 255) ;
    border-top: 10px solid rgb(214, 196, 255);
    border-bottom: 10px solid rgb(214, 196, 255);
    transform: translateX(400%);
    transition: transform 1s ease;
    background-color: #9195fc;
}

.caja1 {
    width: 50%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px ;
    border-left: 10px solid rgb(214, 196, 255) ;
    border-top: 10px solid rgb(214, 196, 255);
    border-bottom: 10px solid rgb(214, 196, 255);
    /* box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3); */
    transform: translateX(-400%);
    transition: transform 1s ease;
    background-color: #9195fc;
}

.caja1 img {
    width: 400px;
}

.caja img {
    width: 400px;
}

.caja {
    transform: translateX(-400%);
}

.caja1 {
    transform: translateX(400%);
}

.caja.show1 {
    transform: translateX(0);
}

.caja1.show {
    transform: translateX(0);
}

.caja h2 {
    font-size: 45px;
}
.tamaño{
    width: 360px !important;
}
 /* section 5 */

 /* section 6 */
.s6 {
    width: 100%;
    height: 87vh;
    background-color:white;
    display: flex;
    justify-content: center;
}

.s6_content {
    width: 1600px;
}

.s6_content h2 {
    font-size: 48px;
    font-family: "circular";
    font-weight: 300;
    color: black;
    text-align: center;
    margin-top: 5%;
}

.s6_content h3 {
    font-size: 24px;
    color: grey;
    font-weight: 300;
    text-align: center;
    font-family: "circular";
    margin-top: 1%;
}

.box {
    text-align: center;
    margin-top: 3%;
    /* flex */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box1 {
    padding-right: 4.5%;
}

.box1 i {
    margin-bottom: 5%;
    color: rgb(129, 114, 212);
    font-size: 40px;

}

.box1 h4 {
    font-size: 22px;
    font-family: circular;
}

.box1 p {
    font-size: 16px;
    color: grey;
    font-family: "Rubik";
    margin-top: 3%;
}

.box2 {
    padding-left: 5%;
}

.box2 i {
    color:var(--morado);
    margin-bottom: 5%;
    font-size: 40px;
    margin-top: 12%;
}

.box2 h4 {
    font-size: 22px;
    font-family: circular;
}

.box2 p {
    margin-top: 3%;
    font-size: 16px;
    color: grey;
    font-family: "Rubik";
}

.box img {
    width: 430px;
}

/* section 6 */

/* section 7 */

.s7 {
    width: 100%;
    height: 40vh;
    -webkit-box-shadow: -2px -15px 33px -1px rgba(211, 211, 211, 0.96);
    box-shadow: -2px -15px 33px -1px rgba(236, 231, 231, 0.96);
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.free-oku {
    background-color: white;
    -webkit-box-shadow: 1px -1px 39px -1px rgba(188, 188, 188, 0.96);
    box-shadow: 1px -1px 39px -1px rgba(188, 188, 188, 0.96);
    width: 1050px;
    height: 210px;
    position: absolute;
    z-index: 2;
    top: -80px;
    border-radius: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.free-oku p {
    text-decoration: none;
    color: black;
    font-family: "circular";
    font-size: 32px;
}

.btn4 {
    width: 200px;
    height: 60px;
}
.btn4 p{
    font-size: 15px;
    color: white;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-300px * 7));
    }
}

.slider2 {
    background: white;
    height: 100px;
    margin-top: 8%;
    overflow: hidden;
    position: relative;
    width: 90%;
}

.slider2::before,
.slider2::after {
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider2::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider2::before {
    left: 0;
    top: 0;
}

.slider2 .slide-track {
    animation: scroll 18s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(250px * 14);
}

.slider2 .slide {
    width: 250px;
    margin-left: 3%;
}

/* section 7 */


/* Responsive  */

@media all and (min-width:1200px) and (max-width: 1919px){
    .menu_desk{
        margin: 33px;
    }
    .aline{
        width: 130px;
        height: 40px;
        margin-top: 1%;
        margin-right: 2%;
    }
    .register_text p{
        font-size: 15px;
    }
    .logo_picture{
        width: 120px;
    }
    .menu_desk a{
        font-size: 15.5px;
    }
    .log-in{
        margin-top: 15px;
    }
    .s1_content img {
        width: 230px;
        height: 230px;
    }
    .txt{
        width: 58%;
        margin-bottom: 30px;
    }
    .txt h1{
        font-size: 50px;
    }
    .txt p{
        font-size: 17px;
    }
    .btn-s1 {
        top: 520px;
    }
    .btn1{
        width: 150px;
        height: 45px;
    }
    .btn1 p{
        font-size: 14px;
    }
    .slider h3 {
        font-size: 17px;
    }
    .slider h5{
        font-size: 30px;
    }
    .slider p{
        font-size: 15px;
        margin-top: 50%;
    }
    .s2{
        padding: 5% 4%
    }
    .s2 img{
        width: 550px;
        height: 450px;
    }
    .s2_content{
        width: 485px;
        margin-right: 4%;
    }
    .s2_content h2{
        font-size: 30px;
    }
    .s2_content p{
        font-size: 15px;
        line-height: 1.4;
    }
    .s3 h4{
        font-size: 45px;
    }
    .cont1 p {
        font-size: 16px;
    }
    
    .cont2 p {
        font-size: 17px;
    }
    .left_side h3 {
        font-size: 33px
    }
    .left_side p{
        font-size: 16px;
    }
    .left_side img{
        width: 400px;
    }
    .right_side h3 {
        font-size: 33px
    }
    .right_side p{
        font-size: 16px;
    }
    .s5{
        height: 180vh;
    }
    .right_side img{
        width: 400px;
    }
    .info h4{
        font-size: 47px;
    }
    .info p{
        font-size: 17px;
    }
    .caja1 img {
        width: 340px;
    }
    .caja img {
        width: 340px;
    }
    .tamaño{
        width: 290px  !important;
    }
    .content1 p{
        font-size: 17px;
    }
    .s6{
        height: 95vh;
    }
    .box img {
        width: 380px;
    }
    
    .s6_content h2 {
        font-size: 40px;
    }
    .box1 {
        padding-right: 4%;
    }
    
    .box1 i {
        font-size: 30px;
    }
    .box1 h4 {
        font-size: 18px;
    }
    .box1 p {
        padding: 0% 12%;
        font-size: 14px;
    }
    .box2 {
        padding-left: 4%;
    }
    
    .box2 i {
        font-size: 30px;
    }
    .box2 h4 {
        font-size: 18px;
    }
    .box2 p {
        padding: 0% 12%;
        font-size: 14px;
    }
    .free-oku{
        width: 900px;
        height: 155px;
        top: -55px;
    }
    .free-oku p{
        font-size: 28px;
    }
    .btn4 {
        width: 160px;
        height: 50px;
    }
    .btn4 p{
        font-size: 13px;
        color: white;
    }
}

@media all and (min-width: 960px) and (max-width: 1199px) {
    header{
        height: 9vh;
    }
    .aline{
        width: 125px;
        height: 40px;
        margin-top: 6%;
    }
    .logo_picture{
        margin-left: 15%;
    }
    .menu_desk{
        margin-right: 40px;
        margin-top: 45px;
        margin-left: 0px;
    }
    .menu_desk a{
        margin-left: 25px;
        font-size: 17px;
    }
    .box_buttons{
        margin-right: 3.5%;
    }
    .log-in {
        margin-top: 25px;
    }
    .s1 {
        height: 52vh;
        margin-top: 9vh;
    }
    .slider {
        width: 52%;
        height: 52vh;
    }
    .slider h5{
        font-size: 37px;
    }
    .slider p{
        font-size: 16px;
    }
    .s1_content {
        width: 65%;
        display: block;
        text-align: center;
    }
    .s1_content img {
        width: 200px;
        height: 200px;
        margin-top: 10%;
    }
    .txt{
        padding: 0px  60px;
    }
    .txt h1 {
        font-size: 53px;
        margin-top: 9%;
    }
    
    .txt p {
        font-size: 17px;
    }
    .btn-s1 {
        top: 690px;
        right: 200px;
    }
    .btn1 {
        width: 150px;
        height: 45px;
    } 
    .btn1 p{
        font-size: 15px;
        margin-bottom: 5%;
    }
    .s2{
        height: 40vh;
        padding: 4% 3%;
    }
    .s2_content{
        padding: 0px 20px;
    }
    .s2 img{
        width: 540px;
        height:450px;
    }    
    .s2_content h2 {
        font-size: 35px;
        margin-bottom: 4%;
    }
    
    .s2_content p {
        font-size: 14px;
        line-height: 1.4;
    }
    .s3 {
        height: 27vh;
        padding: 3%;
    }
    .s3 h4{
        font-size: 53px;
        margin-bottom: 2%;
        margin-top: 1%;
    }
    .cont1 p{
        font-size: 17px;
    }
    .cont2 p{
        font-size: 17px;
    }
    .s4{
        height: 40vh;
    }
    .left_side {
        width: 49.7%;
        text-align: center;
        justify-content: flex-start;
    }
    .left_side h3 {
        font-size: 40px;
        margin-top: 10%;
    }
    .left_side p {
        font-size: 17px;
        padding: 0px 20px;
    }
    .left_side img {
        width: 430px;
        margin-top: 8%;
    }
    .right_side {
        width: 49.7%;
        text-align: center;
        justify-content: flex-start;
    }
    .right_side h3 {
        font-size: 40px;
        margin-top: 10%;
    }
    .right_side p {
        font-size: 17px;
        padding: 0px 20px;
    }
    .right_side img {
        width: 430px;
        margin-top: 8%;
    }
    .s5{
        height: 82vh;
    }
    .info h4{
        font-size: 55px;
    }
    .info p{
        margin-top: 1%;
    }
    .info_1{
        height: 43vh;
    }
    .content1 {
        padding: 6%;
    }
    
    .content1 h4 {
        font-size: 32px;
    }
    
    .content1 p {
        font-size: 17px;
        margin-top: 6%;
    }
    
    .caja1 img {
        width: 300px;
    }
    
    .caja img {
        width: 300px;
    }
    .s6{
        height: 56.5vh;
    }
    .tamaño{
        width: 240px  !important;
    }
    .box{
        margin-top: 1%;
        padding: 2% 5%;
    }
    .box img {
        width: 350px;
    }
    .box1 i {
        color: rgb(129, 114, 212);
        font-size: 35px;
    
    }
    
    .box1 h4 {
        font-size: 21px;
    }
    
    .box1 p {
        margin-top: 4%;
        font-size: 15px;
    }
    .box2 i {
        font-size: 35px;
    }
    
    .box2 h4 {
        font-size: 21px;
    }
    
    .box2 p {
        margin-top:  4%;
        font-size: 15px;
    }
    .s7{
        height: 18vh;
    }
    .free-oku{
        width: 800px;
        height: 130px;
    }
    .free-oku p{
        margin-left: 3%;
        font-size: 26px;
    }
    .btn4 {
        width: 150px;
        height: 50px;
        margin-right: 4%;
    }
    .btn4 p{
        font-size: 15px;
        color: white;
    }
}
 @media all and (min-width: 768px) and (max-width: 958px) { 
     header{
         height: 8.5vh;
     }
     .aline{
        width: 115px;
        height: 38px;
        margin-top: 2%;
        margin-right: 2%;
    }
     .logo_picture {
        margin-left: 8%;
        width: 110px;
    }
    .menu_desk {
        margin-left: 0%;
        margin-right: 4%;
        margin-top: 28px;
        margin-bottom: 0px;
    }
    .menu_desk a{
        font-size: 14.3px;
        margin-left: 20px;
    }
    .box_buttons{
        margin-right: 4%;
    }
    .log-in{
        margin-right: 10px;
    }
    .log-in p{
       margin-top: -10px;
       font-size: 15px;
    }
    .s1{
        height: 60vh;
        margin-top: 8.5vh;
    }
    .s1_content{
        width: 80%;
        display: block;
        padding: 6% 5%;
    }
    .txt h1{
        font-size: 41px;
        margin-top:11%;
    }
    .txt p{
        margin-top: 9%;
        font-size: 15.2px;
    }
    .s1_content img{
        width: 240px;
        height: 240px;
        margin-left: 20%;
    }
      
    .btn-s1 {
        top: 690px;
        right: 135px;
    }
    .btn1{
        width: 143px;
        height: 43px;
    }
    .btn1 p{
        font-size: 15px;
        margin-bottom: 5%;
    }
    .slider{
        width: 80%;
        height: 60vh;
    }
    .slider h5{
        font-size: 30px;
    }
    .slider p{
        font-size: 15px;
        margin-top: 81%;
    }
    .s2{
        height: 35vh;
        padding: 3% 5%;
    }
    .s2 img{
        width: 440px;
        height: 360px;
    }
    .s2_content h2 {
        font-size: 27px;
        margin-bottom: 4%;
    }
    .s2_content p {
        font-size: 12px;
        line-height: 1.4;
    }
    .s3{
        padding: 7% 0%;
        height: 27vh;
    }
    .s3 h4{
        font-size: 45px;
    }
    .cont1 p{
        font-size: 16px;
    }
    .cont2 p{
        font-size: 16px;
    }
    .s4{
        height: 42vh;
    }
    .left_side {
        text-align: center;
        justify-content: flex-start;
    }
    .left_side h3 {
        font-size: 38px;
        margin-top: 10%;
    }
    .left_side p {
        font-size: 15.5px;
        padding: 5px 20px;
    }
    .left_side img {
        width: 350px;
        margin-top: 8%;
    }
    .right_side {
        text-align: center;
        justify-content: flex-start;
    }
    .right_side h3 {
        font-size: 38px;
        margin-top: 10%;
    }
    .right_side p {
        font-size: 15.5px;
        padding:5px 20px;
    }
    .right_side img {
        width: 350px;
        margin-top: 8%;
    }
    .s5{
        height: 86vh;
    }
    .info h4{
        font-size: 50px;
    }
    .info p{
        margin-top: 2%;
    }
    .info_1{
        height: 39vh;
    }
    .content1 {
        padding: 6% 7%;
    }
    .content1 h4 {
        margin-top: 3%;
        font-size: 27px;
    }
    
    .content1 p {
        font-size: 15px;
        margin-top: 6%;
    }
    .caja{
        width: 60%;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-right: 6px solid rgb(214, 196, 255);
        border-top: 6px solid rgb(214, 196, 255);
        border-bottom: 6px solid rgb(214, 196, 255);
    }
    .caja1{
        width: 60% ;
        border-top-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-right: 0px solid rgb(214, 196, 255);
        border-left: 6px solid rgb(214, 196, 255);
        border-top: 6px solid rgb(214, 196, 255);
        border-bottom: 6px solid rgb(214, 196, 255);
    }
    .caja1 img {
        width: 270px;
    }
    .tamaño{
        width: 220px  !important;
    }
    .caja img {
        width: 270px;
    }
    .s6 {
        height: 64vh;
    }
        
    .s6_content h2 {
        font-size: 40px;
    }

    .s6_content h3 {
        font-size: 20px;
    }

    .box1 {
        padding-left: 4.8%;
    }

    .box1 i {
        margin-bottom: 13%;
        font-size: 35px;
    }

    .box1 h4 {
        font-size: 21px;
        font-family: circular;
    }

    .box1 p {
        font-size: 13px;
        margin-top: 6%;
    }

    .box2 {
        padding-right:4.8%;
    }

    .box2 i {
        font-size: 35px;
    }
    .box2 h4 {
        font-size: 21px;
    }

    .box2 p {
        margin-top: 6%;
        font-size: 13px;
    }
    .box img {
        width: 280px;
    }
    .s7{
        height: 18vh;
    }
    .free-oku{
        width: 700px;
        height: 140px;
        top: -95px;
    }
    .free-oku p {
        font-size: 22px;
        margin-left: 3%;
    }
    .btn4 {
        width: 150px;
        height: 45px;
    }
    .btn4 p{
        font-size: 15px;
        color: white;
    }
 }

@media all and (min-width: 599px) and (max-width: 768px){
    header{
        height: 10vh;
    }
    .aline{
        width: 115px;
        height: 38px;
        margin-top: 2.5%;
        margin-right: 2%;
    }
    .aline i{
        font-size: 13px;
         margin-left: 8%;
    }
    .aline p{
        font-size: 13.5px;
    }
    .logo_picture {
        width: 110px;
    }
    .logo {
        margin-left: 1%;
        margin-right: 0%;
    }
    .menu_desk {
        margin-right: 2%;
        margin-top: 25px;
    }
    .menu_desk a{
        font-size: 15px;
        margin-left: 15px;
    }
    .box_buttons{
        margin-top: 2px ;
        margin-right: 0%;
    }
    .log-in{
        margin-right: 10px;
    }
    .log-in p{
       margin-top: -10px;
       font-size: 14px;
    }
    .s1{
        height: 70vh;
        margin-top: 10vh;
    }
    .s1_content{
        width:55%;
        display: block;
        padding: 6% 6%;
    }
    .txt h1{
        font-size: 31px;
        margin-top:15%;
        margin-bottom: 9%;
    }
    .txt p{
        margin-top: 0%;
        font-size: 15px;
    }
    .s1_content img{
        width: 200px;
        height: 200px;
        margin-left: 19%;
    }
      
    .btn-s1 {
        top: 650px;
        right: 140px;
    }
    .btn1{
        width: 143px;
        height: 47px;
    }
    .btn1 p{
        font-size: 15px;
        margin-bottom: 5%;
    }
    .slider{
        width: 45%;
        height: 70vh;
    }
    .slider h5{
        font-size: 25px;
    }
    .slider p{
        font-size: 15px;
        margin-top: 110%;
    }
    .s2{
        height: 39vh;
        padding: 3% 5%;
    }
     
    .s2 img{
        width: 370px;
        height: 340px;
    }
    .s2_content h2 {
        font-size: 21px;
        margin-bottom: 4%;
    }
    .s2_content p {
        font-size: 12px;
        line-height: 1.4;
    }
    .s3{
        padding: 5% 0%;
        height: 27vh;
    }
    .s3 h4{
        font-size: 41px;
        margin-bottom: 1%;
    }
    .cont1 {
        padding: 2%;
    }    
    .cont2 {
        padding: 2%;
    }    
    .cont1 p{
        font-size: 14px;
    }
    .cont2 p{
        font-size: 14px;
    }
    .s4{
        height: 42vh;
    }
    .left_side {
        text-align: center;
        justify-content: flex-start;
    }
    .left_side h3 {
        font-size: 33px;
        margin-top: 10%;
    }
    .left_side p {
        font-size: 14px;
        padding: 5px 20px;
    }
    .left_side img {
        width: 300px;
        margin-top: 8%;
    }
    .right_side {
        text-align: center;
        justify-content: flex-start;
    }
    .right_side h3 {
        font-size: 33px;
        margin-top: 10%;
    }
    .right_side p {
        font-size: 14px;
        padding:5px 20px;
    }
    .right_side img {
        width: 300px;
        margin-top: 8%;
    }
    .s5{
        height: 95vh;
    }
    .info h4{
        font-size: 39px;
    }
    .info p{
        font-size: 16px;
        margin-top: 2%;
    }
    .info_1{
        height: 39vh;
    }
    .content1 {
        padding: 8% 4.5%;
    }
    .content1 h4 {
        margin-top: 3%;
        font-size: 22px;
    }
    
    .content1 p {
        font-size: 14px;
        margin-top: 5%;
    }
    .caja{
        width: 60%;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-right: 6px solid rgb(214, 196, 255);
        border-top: 6px solid rgb(214, 196, 255);
        border-bottom: 6px solid rgb(214, 196, 255);
    }
    .caja1{
        width: 60% ;
        border-top-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-right: 0px solid rgb(214, 196, 255);
        border-left: 6px solid rgb(214, 196, 255);
        border-top: 6px solid rgb(214, 196, 255);
        border-bottom: 6px solid rgb(214, 196, 255);
    }
    .caja1 img {
        width: 270px;
    }
    .tamaño{
        width: 220px  !important;
    }
    .caja img {
        width: 270px;
    }
    .s6 {
        height: 70vh;
    }
        
    .s6_content h2 {
        font-size: 35px;
    }

    .s6_content h3 {
        font-size: 18px;
    }

    .box1 {
        padding-left: 4.8%;
    }

    .box1 i {
        margin-bottom: 13%;
        font-size:33px;
    }

    .box1 h4 {
        font-size: 20px;
        font-family: circular;
    }

    .box1 p {
        font-size: 12px;
        margin-top: 6%;
    }

    .box2 {
        padding-right:4.8%;
    }

    .box2 i {
        font-size:33px;
    }
    .box2 h4 {
        font-size: 20px;
    }

    .box2 p {
        margin-top: 6%;
        font-size: 12px;
    }
    .box img {
        width: 280px;
    }
    .s7{
        height: 18vh;
    }
    .free-oku{
        width: 700px;
        height: 140px;
        top: -100px;
    }
    .free-oku p {
        font-size: 21px;
        margin-left: 4%;
    }
    .btn4 {
        width: 150px;
        height: 45px;
        margin-right: 2%;
    }
    .btn4 p{
        font-size: 14.8px;
        color: white;
    }

    .slider2 .slide {
        width: 200px;
        margin-left: 3%;
    }
 }

 @media all and (max-width: 479px) { 
    header{
        height: 10vh;
        justify-content: flex-start;
    }
    .aline{
        width: 110px;
        height: 35px;
        margin-top: 0%;
        margin-right:0%;
    }
    .aline i{
        font-size: 13px;
         margin-left: 8%;
    }
    .aline p{
        font-size: 13.5px;
    }
    .logo_picture {
        width: 90px;
    }
    .logo {
        margin-left: 1%;
        margin-right: 0%;
    }
    .menu_desk {
        display: none;
    }
    .box_buttons{
        margin-top: 19px ;
        margin-left:4%;
    }
    .log-in{
        margin-right: 1px;
    }
    .log-in p{
       margin-top: -20px;
       font-size: 15px;
    }
    .s1{
        height: 70vh;
        margin-top: 10vh;
    }
    .s1_content{
        width:100%;
        display: block;
        padding: 8% 11%;
    }
    .txt h1{
        font-size: 35px;
        margin-top:12%;
        margin-bottom: 9%;
    }
    .txt p{
        margin-top: 0%;
        font-size: 16px;
    }
    .s1_content img{
        width: 200px;
        height: 200px;
        margin-left: 17%;
    }
      
    .btn-s1 {
        top: 590px;
        right: 120px;
    }
    .btn1{
        width: 141px;
        height: 43px;
    }
    .btn1 p{
        font-size: 15px;
        margin-bottom: 5%;
    }
    .slider{
        display: none;
    }

    .s2{
        height: 95vh;
        padding: 3% 8%;
        display: block;
    }
    .s2_content {
        width:100%;
    }
    .s2 img{
        width: 320px;
        height: 300px;
        margin-left: 8%;
    }
    .s2_content h2 {
        font-size: 25px;
        text-align: center;
        margin-bottom: 9%;
    }
    .s2_content p {
        font-size: 14px;
        line-height: 1.4;
    }
    .s3{
        padding: 7% 6%;
        height: 94vh;
    }
    .s3 h4{
        font-size: 36px;
        margin-bottom: 7%;
        text-align: center;
    }
    .s3_content{
        display: block;
        text-align: center;
    }
    .cont1 {
        padding: 0%;
    }
    .cont1 lottie-player{
        margin-left: 35%;
    }
    .cont2 lottie-player{
        margin-left: 40%;
        margin-top: 7%;
    }
    .cont2 {
        padding: 0%;
    }    
    .cont1 p{
        margin-top: 0%;
        font-size: 17px;
        padding: 6%;
    }
    .cont2 p{
        font-size: 17px;
        margin-top: 5%;
        padding: 6%;
    }
    .s4{
        height: 100vh;
        display: block;
    }
    .left_side {
        width: 100%;
        height: 50vh;
        text-align: center;
        justify-content: flex-start;
    }
    .left_side h3 {
        font-size: 36px;
        margin-top: 7%;
    }
    .left_side p {
        font-size: 14px;
        padding: 5px 20px;
    }
    .left_side img {
        width: 330px;
        margin-top: 4%;
    }
    .right_side {
        width: 100%;
        height: 50vh;
        text-align: center;
        justify-content: flex-start;
    }
    .right_side h3 {
        font-size: 36px;
        margin-top: 7%;
    }
    .right_side p {
        font-size: 14px;
        padding:5px 20px;
    }
    .right_side img {
        width: 330px;
        margin-top: 4%;
    }
    .s5{
        height: 162vh;
    }
    .info h4{
        font-size: 34px;
    }
    .info p{
        font-size: 15px;
        margin-top: 2%;
    }
    .info_1{
        height:100vh;
        flex-wrap: wrap;
    }
    .content1 {
        width: 100%;
        height: 20vh;
        padding: 4% 5%;
    }
    .content1 h4 {
        margin-top: 3%;
        font-size: 21px;
    }
    
    .content1 p {
        font-size: 14px;
        margin-top: 5%;
    }
    .caja{
        width: 100%;
        height: 30vh;
        order: 1;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-right: 6px solid rgb(214, 196, 255);
        border-top: 6px solid rgb(214, 196, 255);
        border-bottom: 6px solid rgb(214, 196, 255);
    }
    .caja1{
        width: 100%;
        height: 30vh;
        border-top-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-right: 0px solid rgb(214, 196, 255);
        border-left: 6px solid rgb(214, 196, 255);
        border-top: 6px solid rgb(214, 196, 255);
        border-bottom: 6px solid rgb(214, 196, 255);
    }
    .caja1 img {
        width: 240px;
    }
    .tamaño{
        width: 200px  !important;
    }
    .caja img {
        width: 240px;
    }
    .s6 {
        height: 133vh;
    }
        
    .s6_content h2 {
        margin-top: 10%;
        font-size: 35px;
    }

    .s6_content h3 {
        font-size: 18px;
        margin-bottom: 5%;
    }
    .box{
        display: block;
    }
    .box1 {
        padding:3% 12%;
    }

    .box1 i {
        margin-bottom: 13%;
        font-size:33px;
    }

    .box1 h4 {
        font-size: 20px;
        font-family: circular;
    }

    .box1 p {
        font-size: 12px;
        margin-top: 6%;
    }

    .box2 {
        padding:3% 12%;
    }

    .box2 i {
        font-size:33px;
    }
    .box2 h4 {
        font-size: 20px;
    }

    .box2 p {
        margin-top: 6%;
        font-size: 12px;
    }
    .box img {
        margin-top: 12%;
        margin-bottom: 8%;
        width: 280px;
    }
    .s7{
        height: 20vh;
    }
    .free-oku{
        width: 85%;
        height: 80px;
        top: -60px;
    }
    .free-oku p {
        font-size: 14px;
        padding-left: 8%;
        margin-left: 1%;
    }
    .btn4 {
        width: 165px;
        height: 30px;
        margin-right: 9%;
    }
    .btn4 p{
        font-size: 10px;
        margin-right: 5%;
    }
    .slider2{
        margin-top: 11%;
    }

    .slider2 .slide {
        width: 200px;
        margin-left: 3%;
    }
 }    